name: Docs

on:
  workflow_dispatch:
  push:
    branches: [master]
  pull_request:
    branches: [master]

# For more info: https://stackoverflow.com/a/74167257/11663108
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: docs
  cancel-in-progress: false

jobs:
  build:
    name: Build docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Setup sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.6

      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Clean docs folder
        run: cargo clean --doc

      - name: Build docs
        run: cargo doc --no-deps --document-private-items

      - name: Remove lock
        run: rm target/doc/.lock

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: target/doc

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: $${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to github pages
        uses: actions/deploy-pages@v4
        id: deployment
